Importing Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# Loading the dataset in to panda data frame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# print first five rows
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
# Print last five rows
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
81294,58872,1.104942,-0.900171,0.271719,-0.528821,-1.064148,-0.533231,-0.366603,-0.121795,-0.855554,...,-0.384664,-0.898500,0.062703,0.098835,-0.024267,0.920347,-0.062583,0.029725,133.76,0.0
81295,58872,-0.438214,0.492120,2.440138,0.454998,-0.148495,0.476077,0.115241,0.232635,-0.057007,...,0.263317,0.865982,-0.093755,-0.026039,-0.602399,-0.453104,0.032011,-0.068108,17.85,0.0
81296,58872,-0.473593,1.109975,1.704117,-0.019309,0.076774,-0.585510,0.718295,-0.023019,-0.619852,...,-0.165078,-0.312285,0.027214,0.417189,-0.266886,0.076342,0.291547,0.123537,0.89,0.0
81297,58873,-2.769864,1.253167,0.752106,0.455407,-1.894425,0.539661,1.081240,-0.188369,1.288851,...,-0.139859,0.276332,0.232680,0.403653,-0.699800,-0.894091,-1.689498,-0.295784,245.00,0.0
81298,58874,1.116529,-0.157694,-0.149952,1.059937,0.256352,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81299 entries, 0 to 81298
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    81299 non-null  int64
 1   V1      81299 non-null  float64
 2   V2      81299 non-null  float64
 3   V3      81299 non-null  float64
 4   V4      81299 non-null  float64
 5   V5      81299 non-null  float64
 6   V6      81298 non-null  float64
 7   V7      81298 non-null  float64
 8   V8      81298 non-null  float64
 9   V9      81298 non-null  float64
 10  V10     81298 non-null  float64
 11  V11     81298 non-null  float64
 12  V12     81298 non-null  float64
 13  V13     81298 non-null  float64
 14  V14     81298 non-null  float64
 15  V15     81298 non-null  float64
 16  V16     81298 non-null  float64
 17  V17     81298 non-null  float64
 18  V18     81298 non-null  float64
 19  V19     81298 non-null  float64
 20  V20     81298 non-null  float64
 21  V21     81298 non-null  float64
 22  V22     81298 non-null  float64
 23  V23     81298 non-null  float64
 24  V24     81298 non-null  float64
 25  V25     81298 non-null  float64
 26  V26     81298 non-null  float64
 27  V27     81298 non-null  float64
 28  V28     81298 non-null  float64
 29  Amount  81298 non-null  float64
 30  Class   81298 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 19.2 MB

In [ ]:
# Find the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# Distribution of normal transactions and fraudelent transactions
credit_card_data['Class'].value_counts()

0.0    81100
1.0      198
Name: Class, dtype: int64

Data set is unbalanced

0 ------> Normal Transaction
1 ------> Fraudelent Transaction

In [ ]:
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(81100, 31)
(198, 31)

In [ ]:
# Statistical Measure of data
legit.Amount.describe()

count    81100.000000
mean        98.107837
std        269.738371
min          0.000000
25%          7.730000
50%         26.990000
75%         89.530000
max      19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     198.000000
mean       93.992778
std       211.099415
min         0.000000
25%         1.000000
50%         6.410000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# Compare the values of for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,37682.000937,-0.244848,-0.049587,0.701227,0.150821,-0.266673,0.100652,-0.097695,0.045923,-0.005120,...,0.041506,-0.031324,-0.104952,-0.037601,0.008468,0.134375,0.025923,0.000776,0.002077,98.107837
1.0,33363.156566,-6.471142,4.615004,-8.642655,5.163640,-4.726320,-1.982527,-6.839513,3.005157,-3.106588,...,0.381224,0.754921,-0.156429,-0.222226,-0.092181,0.229928,0.089311,0.568505,0.053900,93.992778

As the dataset is highly un balanced,we need to get the sample of the data by using sampling distribution

Fraud sample --->250
so we need the legit sample of count 250

In [ ]:
# Create new variable
legit_sample=legit.sample(n=198)

In [ ]:
# Concatinating the two sample to get a new dataset
new_dataset=pd.concat([legit_sample,fraud])

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
33517,37263,-1.018872,0.124196,2.296002,-0.451643,0.001639,1.560760,-0.276447,0.811570,1.125802,...,-0.326466,-0.596877,-0.326359,-1.161357,0.409084,0.436651,0.277949,0.097186,19.95,0.0
28552,35051,-7.283607,-4.743738,-1.902107,0.234656,-4.434402,0.919476,1.207357,-2.143635,0.928719,...,-1.510913,-0.366306,-2.247192,0.672522,0.089824,-0.936220,0.389740,-1.288544,845.94,0.0
79576,58081,1.450082,-0.602328,-1.639841,-1.832577,1.814410,2.904783,-0.611268,0.626019,-1.271677,...,-0.184071,-0.857306,0.016398,0.987373,0.603262,-0.438196,-0.024332,0.007733,34.96,0.0
16253,27654,-1.256150,1.268858,1.551333,0.976944,-0.081511,-0.590907,0.496688,0.291694,-1.139339,...,0.208780,0.561219,-0.079179,0.651499,0.458390,-0.206087,-0.136390,-0.008005,20.00,0.0
48732,43761,1.243307,0.284293,-0.037865,0.616736,0.609837,0.717676,-0.044995,0.127347,-0.277153,...,-0.068280,-0.106420,-0.167535,-1.332253,0.630747,-0.368481,0.043179,0.001605,2.95,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
79835,58199,0.340391,2.015233,-2.777330,3.812024,-0.461729,-1.152022,-2.001959,0.548681,-2.344042,...,0.299769,-0.583283,-0.187696,-0.329256,0.732328,0.058080,0.553143,0.318832,1.75,1.0
79874,58217,-0.443794,1.271395,1.206178,0.790371,0.418935,-0.848376,0.917691,-0.235511,-0.285692,...,0.119279,0.513479,-0.264243,0.443311,0.029516,-0.335141,-0.188815,-0.123391,5.09,1.0
79883,58222,-1.322789,1.552768,-2.276921,2.992117,-1.947064,-0.480288,-1.362388,0.953242,-2.329629,...,0.614969,-0.195200,0.590711,-0.233378,-0.164285,-0.277498,0.428610,0.246394,270.00,1.0
80760,58642,-0.451383,2.225147,-4.953050,4.342228,-3.656190,-0.020121,-5.407554,-0.748436,-1.362198,...,-0.575924,0.495889,1.154128,-0.016186,-2.079928,-0.554377,0.455179,0.001321,113.92,1.0
81186,58822,-4.384221,3.264665,-3.077158,3.403594,-1.938075,-1.221081,-3.310317,-1.111975,-1.977593,...,2.076383,-0.990303,-0.330358,0.158378,0.006351,-0.493860,-1.537652,-0.994022,45.64,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    198
1.0    198
Name: Class, dtype: int64

In [ ]:
# Checking the nature of the dataset
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,38096.444444,-0.120301,-0.011452,0.733055,0.105774,-0.12204,0.174995,-0.146280,-0.086866,0.001174,...,0.022226,0.077310,-0.123310,-0.018565,-0.048744,0.122511,-0.025920,0.009075,0.008418,76.972778
1.0,33363.156566,-6.471142,4.615004,-8.642655,5.163640,-4.72632,-1.982527,-6.839513,3.005157,-3.106588,...,0.381224,0.754921,-0.156429,-0.222226,-0.092181,0.229928,0.089311,0.568505,0.053900,93.992778

Nature of the dataset is not changed

Splitting the model into features and Models

In [ ]:
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [ ]:
print(x)

        Time        V1        V2        V3        V4        V5        V6  \
33517  37263 -1.018872  0.124196  2.296002 -0.451643  0.001639  1.560760
28552  35051 -7.283607 -4.743738 -1.902107  0.234656 -4.434402  0.919476
79576  58081  1.450082 -0.602328 -1.639841 -1.832577  1.814410  2.904783
16253  27654 -1.256150  1.268858  1.551333  0.976944 -0.081511 -0.590907
48732  43761  1.243307  0.284293 -0.037865  0.616736  0.609837  0.717676
...      ...       ...       ...       ...       ...       ...       ...
79835  58199  0.340391  2.015233 -2.777330  3.812024 -0.461729 -1.152022
79874  58217 -0.443794  1.271395  1.206178  0.790371  0.418935 -0.848376
79883  58222 -1.322789  1.552768 -2.276921  2.992117 -1.947064 -0.480288
80760  58642 -0.451383  2.225147 -4.953050  4.342228 -3.656190 -0.020121
81186  58822 -4.384221  3.264665 -3.077158  3.403594 -1.938075 -1.221081

             V7        V8        V9  ...       V20       V21       V22  \
33517 -0.276447  0.811570  1.125802  ... -0.047442 -0.326466 -0.596877
28552  1.207357 -2.143635  0.928719  ... -0.157873 -1.510913 -0.366306
79576 -0.611268  0.626019 -1.271677  ...  0.233703 -0.184071 -0.857306
16253  0.496688  0.291694 -1.139339  ... -0.077165  0.208780  0.561219
48732 -0.044995  0.127347 -0.277153  ... -0.042543 -0.068280 -0.106420
...         ...       ...       ...  ...       ...       ...       ...
79835 -2.001959  0.548681 -2.344042  ...  0.326773  0.299769 -0.583283
79874  0.917691 -0.235511 -0.285692  ... -0.067205  0.119279  0.513479
79883 -1.362388  0.953242 -2.329629  ...  0.988493  0.614969 -0.195200
80760 -5.407554 -0.748436 -1.362198  ...  0.724381 -0.575924  0.495889
81186 -3.310317 -1.111975 -1.977593  ... -0.141533  2.076383 -0.990303

            V23       V24       V25       V26       V27       V28  Amount
33517 -0.326359 -1.161357  0.409084  0.436651  0.277949  0.097186   19.95
28552 -2.247192  0.672522  0.089824 -0.936220  0.389740 -1.288544  845.94
79576  0.016398  0.987373  0.603262 -0.438196 -0.024332  0.007733   34.96
16253 -0.079179  0.651499  0.458390 -0.206087 -0.136390 -0.008005   20.00
48732 -0.167535 -1.332253  0.630747 -0.368481  0.043179  0.001605    2.95
...         ...       ...       ...       ...       ...       ...     ...
79835 -0.187696 -0.329256  0.732328  0.058080  0.553143  0.318832    1.75
79874 -0.264243  0.443311  0.029516 -0.335141 -0.188815 -0.123391    5.09
79883  0.590711 -0.233378 -0.164285 -0.277498  0.428610  0.246394  270.00
80760  1.154128 -0.016186 -2.079928 -0.554377  0.455179  0.001321  113.92
81186 -0.330358  0.158378  0.006351 -0.493860 -1.537652 -0.994022   45.64

[396 rows x 30 columns]

In [ ]:
print(y)

33517    0.0
28552    0.0
79576    0.0
16253    0.0
48732    0.0
        ...
79835    1.0
79874    1.0
79883    1.0
80760    1.0
81186    1.0
Name: Class, Length: 396, dtype: float64

Splitting the data into training data and splitting data

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
print(x.shape,x_train.shape,x_test.shape)

(396, 30) (316, 30) (80, 30)

Models training

Generally,we use logical Regression Model

In [56]:
model=LogisticRegression(solver='lbfgs',dual=False,max_iter=1000)

In [57]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [58]:
model

LogisticRegression(max_iter=1000)

Model Evaluation

Accuracy score

In [62]:
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [64]:
print("Training_data_accuracy :",training_data_accuracy)

Training_data_accuracy : 0.9778481012658228

In [65]:
# Accuracy for testing data
x_test_prediction=model.predict(x_test)
testing_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [66]:
print("Testing_data_accuracy :",testing_data_accuracy)

Testing_data_accuracy : 0.925